

<html>
<head>
    <title>
        SHEET VALIDATION
    </title>

</head>

<body>
<h2> DETAILED TRAFFIC INTEL DATA REPORT</h2><br><br><br><br><br><br>


<h2> Row numbers with faulty data are as follows </h2>


{%for l in l1 %}
     <li> {{l}}</li>
    {% endfor %}<br><br><br><br>






<!--   {% for row in excel_data %}-->
<!--            {% for cell in row %}-->
<!--                {{ cell }}&nbsp;&nbsp;-->
<!--                {{cell.value}}&nbsp;&nbsp;-->
<!--                 {%endfor %}-->
<!--            <br>-->
<!--        {% endfor %}-->

</body>
</html>






























